<h1>{{ page.title | newline_to_br }}</h1>
<h3>{{ page.excerpt | newline_to_br }}</h3>

<p>
  <small onclick="//displaySocial()">{{ site.social }}</small>
  <!--
    <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
  -->
</p>

<div id="social_media">
  <a target="_blank" href="{{ site.behance }}">
    <img src="/assets/icon/behance.svg" alt="behance">
  </a>
  <a target="_blank" href="{{ site.gitlab }}">
    <img src="/assets/icon/gitlab.svg" alt="gitlab">
  </a>
  <a target="_blank" href="{{ site.codepen }}">
    <img src="/assets/icon/codepen.svg" alt="codepen">
  </a>
  <a target="_blank" href="{{ site.linkedin }}">
    <img src="/assets/icon/linkedin.svg" alt="linkedin">
  </a>
  <a target="_blank" href="{{ site.instagram }}">
    <img src="/assets/icon/instagram.svg" alt="instagram">
  </a>
</div>