<p id="line_1">&nbsp;</p>
<p id="line_2">&nbsp;</p>
<p id="line_3">&nbsp;</p>
<p id="line_4">&nbsp;</p>
<p id="line_5">&nbsp;</p>
<p id="line_6">&nbsp;</p>
<div class="command_area">
  <span id="pointer"></span>
  <input id="confirm_command" onkeypress="return confirm(event)" placeholder="(yes)/(no)" />
  <input id="command" onkeypress="return read(event)" placeholder="input" />
</div>