<small>
    {{ site.title }}&nbsp;&nbsp;|&nbsp;
</small>
<a class="footer_a" target="_blank" href="{{ site.cv }}">Resume (CV)</a>&nbsp;&nbsp;|&nbsp;
<a class="footer_a" target="_blank" href="{{ site.codefolio }}">Codefolio</a>&nbsp;&nbsp;|&nbsp;
<a class="footer_a" target="_blank" href="{{ site.espacio }}">espacio.me</a>&nbsp;&nbsp;|&nbsp;
<a class="footer_a" target="_blank" href="{{ site.gridout }}">Gridout framework</a>&nbsp;&nbsp;|&nbsp;
<a class="footer_a" href="mailto:{{ site.email_1 }}">{{ site.email_2 }}</a>