<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Plain Description -->
    <title>{{ site.title }}</title>
    <meta name="description" content="{{site.tagline}}">
    <link rel="icon" type="image/png" href="/favicon.png">
    
    <!-- responsive CSS -->
    <link rel="stylesheet" href="/assets/css/base.css"/>
    <link rel="stylesheet" href="/assets/css/content.css"/>
    <link rel="stylesheet" href="/assets/css/logo.css"/>
    <!-- Put your fonts here -->

</head>