---
---

/**
 * Global application styles
 * and large screen styles
 */

@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

/*
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font: inherit;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, input {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: $background;
}

@media screen
and (min-width: 768px) {
    a[href*="tel:"] {
        cursor: default;
        pointer-events: none;
    }
}

#content {
    height: $body;
    position: relative;
    margin: 0 15em;
}

@media screen
and (max-width: 768px) {
    #content {
        margin: 0 1em;
    }
}

#header {
    height: $header;
    position: relative;
}

#footer {
    height: $footer;
    position: relative;
    color: $light_blue;
    font-size: .7em;
    text-align: center;
    padding: 0 16px;
    a:hover {
        color: $blue;
    }
}

#content,
#header,
#footer {
    display: none;
}

/**
 * Global layout
 */

#content {
    grid-template-columns: auto 500px;
    grid-gap: 2rem;
    margin: auto;
    max-width: 900px;
    padding: 0 2rem;
}

/**
 * Responsive
 */

@media screen and (max-width: 764px) {
    #content {
        grid-template-columns: auto;
        max-width: 400px;
    }
}