---
---

@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

#bio {
    position: relative;
    margin: auto 0;

    h1 {
        color: $white;
        font-weight: bold;
        font-size: 1.8em;
        letter-spacing: .2em;
        text-transform: uppercase;
        margin-bottom: .3em;
    }

    h3 {
        color: $light_gray;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 1.5em;
    }

    p {
        color: $light_gray;
        margin-top: 1em;
        font-size: .8em;
        small {
            font-size: .8em;
            color: $light_blue;
            cursor: pointer;
        }
    }

    #social_media {
        // display: none;
        margin-top: 1em;
        a > img {
            margin: 0 6px;
            height: 15px;
        }
        a > img:first-child {
            margin: 0 6px 0 0;
        }
    }

}

#ter {
    position: relative;
    // padding: 1em;
    color: #fff;
    // border: 1px solid #fff;
    margin: auto;
    // max-width: 500px;
    // min-width: 400px;
    width: 400px;

    * {
        font-family: monospace!important; 
    }

    p {
        margin: .8em 0;
    }
    
    .command_area {
        display: grid;
        grid-template-columns: min-content auto;
        margin: .5em 0;

        span {
            color: #7fdde9;
            align-self: center;
        }
        input {
            align-self: center;
            background: none;
            width: 100%;
            border: none;
            color: #fff;
        }
    }
    
    .confirmReset {
        cursor: pointer;
        border: none;
        padding: 0;
        margin: 0;
        color: #7fdde9;
        background: transparent;
    }
    
    #confirm_command, #command {
        display: none;
    }

    #pointer {
        margin-right: .5rem;
    }
}

/**
 * Responsive
 */

@media screen and (max-width: 764px) {
    #ter {
        width: auto;
        max-width: 400px;
    }
}

.footer_a {
    margin-bottom: 5px;
    display: inline-block;
}