---
---

@import "variables";

#loader {
    height: 100vh;
    position: relative;
    overflow: hidden;
    .loader_content {
        width: 200px;
        margin: 40vh auto;
    }
}

#_logo {
    position: relative;
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto 16px;
}

#txt {
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: .7em;
    text-align: center;
    color: $white;
}

/**
 * Shapes
 **/

#ell {
    width: 0px;
    height: 0px;
    border-right: 50px solid transparent;
    border-top: 50px solid $blue;
    border-left: 50px solid $blue;
    border-bottom: 50px solid transparent;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    &:hover {
        opacity: .9;
    }
}

#squ {
    width: 50px; 
    height: 50px; 
    background: $pink;
    &:hover {
        opacity: .9;
    }
}

#tri {
    width: 0; 
    height: 0; 
    border-bottom: 50px solid $light_blue; 
    border-left: 50px solid transparent; 
    &:hover {
        opacity: .9;
    } 
}

/**
 * Position
 **/

#ell {
    position: absolute;
    top: 0;
    left: 0;
}

#squ {
    position: absolute;
    bottom: 0;
    right: 0;
}

#tri {
    position: absolute;
    bottom: 0;
    left: 0;
}