/*
*********************
Colors
*********************
*/

$blue: #3e69db;
$light_blue: #7fdde9;
$pink: #eb008b;
$white: #ffffff;
$light_gray: #dbdbd9;
$dark_gray: #36373b;
$black: #1b1b1b;
$background: #0e1111;

/*
*********************
Sizes
*********************
*/

$header: 52px;
$footer: 30px;
$body: calc(100vh - 40px);