<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<body>

  <!-- 
  <header id="header">
    {% include header.html %}
  </header>
  -->

  <!-- app loader -->
  <div id="loader">
    <div class="loader_content">
      <div id="_logo">
        <span id="ell"></span>
        <span id="squ"></span>
        <span id="tri"></span>
      </div>
      <p id="txt">loading...</p>
    </div>
  </div>

  <div id="content">

    <section id="bio">
      {% include sections/bio.html %}
    </section>

    <section id="ter">
      {% include sections/ter.html %}
    </section>

  </div>

  <footer id="footer">
    {% include footer.html %}
  </footer>

</body>

{% include script.html %}

</html>
